/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
    
}

/* スマホ向けレイアウト */
@media all and (max-width: 670px) {
    .header-right {
        display: none;
    }
    .pager_wrapper {
        padding: 0 10px;
    }
    .wrap {
        display: block;
    }
    .Chinese_about, .English_about {
        width: auto;
    }
    .Chinese_about{
        padding-right: 0px;
    }
    .English_about{
        padding-left: 0px;
    }
    .cp_ipradio label {
        margin-left: 0px;
        margin-right: 0px;
    }
    .intro {
        padding: 0;
    }

}